
body {
    font-family: 'Playfair Display'; 
    background-color: #85e7c7; 
    
}


h1{
    color: #2c3e50; 
}




footer {
    background-color: #2c3e50;
    color: white;
    border: 5px solid;
    border-color: red;   
}



.category-sidebar {
    border: 4px solid #d0ff00;          
    box-shadow: 10px 10px 20px #ff0000;    
    padding: 15px;                   
    border-radius: 10px;              
    width: 175px;                     
}


.category-sidebar li:hover {
    color: red;
    cursor: pointer;
}


figure 
{
    width: 220px;
    margin: 15px;
    padding: 10px;
    border: 2px solid black;
    display: inline-block;
    text-align: center;
    background-color: burlywood;
    box-shadow: 10px 10px 10px black;
    border-radius: 10px;
    transition: transform 0.3s ease;
}

figure img 
{
    width: 200px;
    height: 300px;
}

figure:hover {
    transform: scale(1.1);
}

table {
    
    border-collapse: collapse;      
    margin: 20px ;
}

th, td {
    border: 1px solid black;        
    padding: 10px;                  
    text-align: center;             
}

thead th {
    background-color: #2c3e50;    
    color: white;
}


tbody tr:nth-child(even) {
    background-color: #ffffff;
    color: rgb(155, 0, 26);
}

tbody tr:nth-child(odd) {
    background-color: #8f8080;
    color: rgb(155, 0, 26);
}


